/*
 * SMaRT board (hardware/SMaRT) on a Raspberry Pi Pico.
 *
 *   GP0/GP1  UART0  glider, through MAX3232 U2, connector J5
 *   GP4/GP5  UART1  sensor (MAX3232 U4, J13) or OpenLog, selected by JP2/JP3
 *   GP16            sensor power relay U3 (sensor return via JP1 A-C)
 *   GP2/GP3  I2C1   Qwiic J2/J3
 */
#include <dt-bindings/pinctrl/rpi-pico-rp2040-pinctrl.h>

/ {
	chosen {
		smart,glider-uart = &uart0;
		smart,sensor-uart = &uart1;
	};

	zephyr,user {
		sensor-power-gpios = <&gpio0 16 GPIO_ACTIVE_HIGH>;
	};
};

&pinctrl {
	uart0_default: uart0_default {
		group1 {
			pinmux = <UART0_TX_P0>;
		};
		group2 {
			pinmux = <UART0_RX_P1>;
			input-enable;
		};
	};

	uart1_default: uart1_default {
		group1 {
			pinmux = <UART1_TX_P4>;
		};
		group2 {
			pinmux = <UART1_RX_P5>;
			input-enable;
		};
	};
};

/* Baud rates are applied at runtime from the profile */
&uart0 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-names = "default";
};

&uart1 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart1_default>;
	pinctrl-names = "default";
};
